<div class="container">
    <div class="footer-inner">
        <!-- footer-content -->
        <div class="footer-content">
            <!-- column-1 -->
            <div class="footer-column">
                <!-- logo -->
                <div>
                    <a class="logo footer-logo" href="./">
                        <img src="./assets.css/icon/logo.svg" alt="" class="logo-img" />
                        <h2 class="logo-title">grocerymart</h2></a
                    >
                </div>

                <p class="footer-desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, maxime et veniam eligendi rem
                    voluptatibus.
                </p>

                <p class="footer-desc">Receive product news and updates.</p>

                <form action="" class="footer-form">
                    <input type="email" class="footer-input" placeholder="Email address" id="" name="" />
                    <button class="footer-btn btn btn-primary">SEND</button>
                </form>
            </div>

            <!-- column-2 -->
            <div class="footer-column">
                <h2 class="footer-heading">SHOP</h2>

                <ul class="footer-list">
                    <li>
                        <a href="#!" class="footer-item">All Departments</a>
                    </li>
                    <li>
                        <a href="#!" class="footer-item">Fashion Deals</a>
                    </li>
                    <li>
                        <a href="#!" class="footer-item">Electronics Discounts</a>
                    </li>
                    <li>
                        <a href="#!" class="footer-item">Home & Living Specials</a>
                    </li>
                    <li>
                        <a href="#!" class="footer-item">Beauty Bargains</a>
                    </li>
                </ul>
            </div>

            <!-- column-3 -->
            <div class="footer-column">
                <h2 class="footer-heading">SUPPORT</h2>

                <ul class="footer-list">
                    <li>
                        <a href="#!" class="footer-item">Store locator</a>
                    </li>
                    <li>
                        <a href="#!" class="footer-item">Order status</a>
                    </li>
                </ul>
            </div>

            <!-- column-4 -->
            <div class="footer-column">
                <h2 class="footer-heading">COMPANY</h2>

                <ul class="footer-list">
                    <li>
                        <a href="#!" class="footer-item">Customer Service</a>
                    </li>
                    <li>
                        <a href="#!" class="footer-item">Terms of Use</a>
                    </li>
                    <li>
                        <a href="#!" class="footer-item">Privacy</a>
                    </li>
                    <li>
                        <a href="#!" class="footer-item">Careers</a>
                    </li>
                    <li>
                        <a href="#!" class="footer-item">About</a>
                    </li>
                    <li>
                        <a href="#!" class="footer-item">Affiliates</a>
                    </li>
                </ul>
            </div>

            <!-- column-5 -->
            <div class="footer-column">
                <h2 class="footer-heading">CONTACT</h2>

                <div class="footer-contact__column">
                    <div class="footer-contact__row">
                        <span class="footer-desc">Email</span>
                        <a href="#!" class="footer-item">contact@grocerymart.com</a>
                    </div>
                    <div class="footer-contact__row">
                        <span class="footer-desc">Hotline</span>
                        <a href="#!" class="footer-item">18008888</a>
                    </div>
                    <div class="footer-contact__row">
                        <span class="footer-desc">Address</span>
                        <p class="footer-contact__desc">
                            No. 11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay District, City. Hanoi
                        </p>
                    </div>
                    <div class="footer-contact__row">
                        <span class="footer-desc">Hours</span>
                        <p class="footer-contact__desc">M - F 08:00am - 06:00pm</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer-footer -->

        <div class="footer-footer">
            <p class="footer-footer__desc">© 2010 - 2025 Grocery Mart. All rights reserved.</p>

            <div class="footer-social__wrap">
                <a href="#!" class="footer-social__link">
                    <img src="./assets.css/icon/face.svg" alt="" class="footer-social__img" />
                </a>
                <a href="#!" class="footer-social__link">
                    <img src="./assets.css/icon/tiktoc.svg" alt="" class="footer-social__img" />
                </a>
                <a href="#!" class="footer-social__link">
                    <img src="./assets.css/icon/twite.svg" alt="" class="footer-social__img" />
                </a>
                <a href="#!" class="footer-social__link">
                    <img src="./assets.css/icon/youtube.svg" alt="" class="footer-social__img" />
                </a>
                <a href="#!" class="footer-social__link">
                    <img src="./assets.css/icon/intagram.svg" alt="" class="footer-social__img" />
                </a>
            </div>
        </div>
    </div>
</div>
