<div class="container">
    <div class="header-inner">
        <!-- logo -->

        <div class="logo">
            <img src="./assets.css/icon/logo.svg" alt="" class="logo-img" />
            <h2 class="logo-title">grocerymart</h2>
        </div>

        <!-- nav -->

        <div class="nav">
            <ul class="nav-list">
                <li>
                    <a href="#!" class="nav-link">
                        Departments
                        <img src="./assets.css/icon/arow-down.svg" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#!" class="nav-link">
                        Grocery
                        <img src="./assets.css/icon/arow-down.svg" alt="" />
                    </a>
                </li>
                <li>
                    <a href="#!" class="nav-link">
                        Beauty
                        <img src="./assets.css/icon/arow-down.svg" alt="" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
