<div class="container">
    <div class="header-inner">
        <!-- menu-draw -->

        <button class="header-menu">
            <img
                src="./assets.css/icon/menu-draw.svg"
                alt=""
                class="header-menu__icon icon"
            />
        </button>

        <!-- logo -->

        <div>
            <a class="logo" href="./">
                <img src="./assets.css/icon/logo.svg" alt="" class="logo-img" />
                <h2 class="logo-title">grocerymart</h2></a
            >
        </div>

        <!-- nav -->

        <div class="nav">
            <ul class="nav-list js-dropdown-list">
                <li class="nav-items">
                    <a href="#!" class="nav-link">
                        Departments
                        <img
                            class="nav-arow icon"
                            src="./assets.css/icon/arow-down.svg"
                            alt=""
                        />
                    </a>

                    <!-- dropdrow -->
                    <div class="dropdrow">
                        <div class="dropdrow-inner">
                            <div class="dropdrow-menu">
                                <div class="dropdrow-menu__main">
                                    <!-- menu-column -->
                                    <div class="menu-column">
                                        <div class="menu-column__icon-box">
                                            <img
                                                src="./assets.css/img/category/category 1.1.svg"
                                                alt=""
                                                class="menu-column__icon"
                                            />
                                            <img
                                                src="./assets.css/img/category/category 1.2.svg"
                                                alt=""
                                                class="menu-column__icon"
                                            />
                                        </div>

                                        <div class="menu-column__content">
                                            <h2 class="menu-column__heading">
                                                All Departments
                                            </h2>
                                            <ul class="menu-column__list">
                                                <li>
                                                    <a
                                                        href="#!"
                                                        class="menu-column__link"
                                                        >Savings & Featured
                                                        Shops</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href="#!"
                                                        class="menu-column__link"
                                                        >Electronics</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href="#!"
                                                        class="menu-column__link"
                                                        >Clothing, Shoes &
                                                        Accessories</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href="#!"
                                                        class="menu-column__link"
                                                        >Home, Furniture &
                                                        Appliances</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href="#!"
                                                        class="menu-column__link"
                                                        >Toys & Video Games</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href="#!"
                                                        class="menu-column__link"
                                                        >Home Improvement</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href="#!"
                                                        class="menu-column__link"
                                                        >Baby</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href="#!"
                                                        class="menu-column__link"
                                                        >Household Essentials</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href="#!"
                                                        class="menu-column__link"
                                                        >Personal Care</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href="#!"
                                                        class="menu-column__link"
                                                        >Patio & Garden</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href="#!"
                                                        class="menu-column__link"
                                                        >Sports & Outdoors</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href="#!"
                                                        class="menu-column__link"
                                                        >Gift Cards</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href="#!"
                                                        class="menu-column__link"
                                                        >Auto, Tires and
                                                        Industrial</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href="#!"
                                                        class="menu-column__link"
                                                        >Movies, Music &
                                                        Books</a
                                                    >
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-items">
                    <a href="#!" class="nav-link">
                        Grocery
                        <img
                            class="nav-arow icon"
                            src="./assets.css/icon/arow-down.svg"
                            alt=""
                        />
                    </a>

                    <!-- <div class="dropdrow">
                        <div class="dropdrow-inner">
                            Lorem 2 ipsum dolor sit, amet consectetur
                            adipisicing elit. Inventore alias exercitationem a
                            esse. Asperiores ducimus veniam inventore
                            consectetur alias? Quo, sed dolore? Laudantium,
                            adipisci saepe. Atque ullam vel alias accusantium
                            odio vero ipsa
                        </div>
                    </div> -->
                </li>
                <li class="nav-items">
                    <a href="#!" class="nav-link">
                        Beauty
                        <img
                            class="nav-arow icon"
                            src="./assets.css/icon/arow-down.svg"
                            alt=""
                        />
                    </a>

                    <!-- <div class="dropdrow">
                        <div class="dropdrow-inner">
                            Lorem 3 ipsum dolor sit, amet consectetur
                            adipisicing elit. Inventore alias exercitationem a
                            esse. Asperiores ducimus veniam inventore
                            consectetur alias? Quo, sed dolore? Laudantium,
                            adipisci saepe. Atque ullam vel alias accusantium
                            odio vero ipsa
                        </div>
                    </div> -->
                </li>
            </ul>
        </div>

        <!-- header-action -->

        <div class="header-action">
            <div class="header-action__group">
                <button class="header-action__btn">
                    <img
                        src="./assets.css/icon/search.svg"
                        alt=""
                        class="header-action__icon icon"
                    />
                </button>
            </div>

            <div class="header-action__group">
                <button class="header-action__btn">
                    <img
                        src="./assets.css/icon/heart.svg"
                        alt=""
                        class="header-icon icon"
                    />
                    <span class="header-action__title">03</span>
                </button>

                <div class="header-action__skeleton"></div>

                <button class="header-action__btn">
                    <img
                        src="./assets.css/icon/buy.svg"
                        alt=""
                        class="header-icon icon"
                    />
                    <span class="header-action__title">$65.42</span>
                </button>
            </div>

            <div class="header-action__user">
                <img
                    src="../assets.css/avatar/avatar-header.jpg"
                    alt=""
                    class="header-action__avatar"
                />
            </div>
        </div>
    </div>
</div>
