@use "../abstracts";

.checkout{
    
    &-breadcrumb{
        background-color: var(--checkout-breadcrumb-bg-color);
    }

    &-inner{
        margin-bottom: 10px;
    }

    &-info{
        background-color:  var(--checkout-breadcrumb-bg-color);
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0px 20px 60px 10px var(--checkout-breadcrumb-shadow-color);
        margin-bottom: 30px;

        @include abstracts.screen(sm){
            padding: 16px;
        }

        &__heading{
            font-weight: 700;
            font-size: 2.4rem;
            color: var(--checkout-text-color);
            line-height: 1.6;

            @include abstracts.screen(sm){
                font-weight: 500;
                font-size: 1.6rem;
            }
        }

        & + & {
            margin-top: 30px;
        }

        &__list{
            margin-top: -30px;
        }

        &__bottom{
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            @include abstracts.screen(md){
                display: none;
            }
        }

        &__arrow{
            rotate: 90deg;
            width: 24px;
            height: 24px;
        }

        &__link-wrap{
            gap: 10px;
            display: flex;
            align-items: center;

            @include abstracts.screen(md){
                display: none;
            }
        }

        &__bottom-right{
            width: 274px;

            @include abstracts.screen(md){
                width: 100%;
            }
        }

        &__link, &__row, &__row-strong{
            font-size: 1.8rem;
            font-weight: 500;
            color: var(--checkout-text-color);
            line-height: 1.6;

            @include abstracts.screen(sm){
                font-size: 1.6rem;
            }
        }

        &__row, &__row-strong{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__row + &__row{
            margin-top: 10px;
        }

        &__row-strong{
            font-weight: 700;
            font-size: 2.2rem;
        }

        &__separate{
            height: 1px;
            background-color: #D2D1D6;
            margin: 20px 0;
        }

        &__row-sub{
            font-weight: 400;
            font-size: 1.6;
        }

        &__btn{
            margin-top: 30px;
            color: #1A162E;
            font-size: 2.2rem;
            font-weight: 500;

            @include abstracts.screen(sm){
                font-size: 1.6rem;
            }
        }

        &__item-btn{
                display: flex;
                align-items: center;
                gap: 10px;
        }
    }

    &-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;
        border-bottom: 1px solid #D2D1D6;

        @include abstracts.screen(md){
            align-items: flex-start;

            &:last-child{
                border-bottom: none;
                padding-bottom: 6px;
            }
        }

        &__img{
            width: 175px;
            height: 172px;
            object-fit: contain;

            @include abstracts.screen(lg){
                width: 140px;
                height: 140px;
            }

            @include abstracts.screen(md){
                width: 100px;
                height: 100px;
            }

            @include abstracts.screen(sm){
                width: 100%;
                height: 100%;
            }
        }

        &__right{
            display: flex;
            align-items: center;

            @include abstracts.screen(md){
                flex-direction: column;
            }
        }

        &__heading, &__price-strong, &__input{
            color: var(--checkout-text-color); 
        }

        &__price, &__heading,{
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 1.6;
            margin-bottom: 16px;
        }

        &__heading{
            width: 374px;

            @include abstracts.screen(lg){
                width: 100%;
            }

            @include abstracts.screen(sm){
                font-size: 1.4rem;
                width: 233px;
            }
        }

        &__price, &__row-btn{
            color: #9E9DA8;
        }

        &__status{
            color: #FFB700;
        }

        &__row{
            display: flex;
            align-items: center;
            gap: 20px;

            @include abstracts.screen(lg){
                gap: 10px;
            }
        }

        &__btn-wrap{
            @include abstracts.screen(sm){
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &__input{
            padding: 13px 20px;
            border: 1px solid #D2D1D6;
            border-radius: 10px;
            display: flex;
            gap: 12px;
            font-weight: 500;
            font-size: 1.5rem;

            @include abstracts.screen(lg){
                padding: 13px 10px;
            }


            & + & {
                padding: 10px 20px;
                height: 43px;
                gap: 10px;

                @include abstracts.screen(lg){
                    padding: 10px;
                }
            }
        }

        &__price-wrap{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            gap: 70px;

            @include abstracts.screen(md){
                gap: 0;
                align-items: flex-start;
                margin-top: 16px;
                width: 340px;
            }

            @include abstracts.screen(sm){
                width: 230px;
            }
        }

        &__price-strong{
            font-weight: 700;
            font-size: 2.2rem;
            margin-bottom: 20px;
            line-height: 1.6;

            @include abstracts.screen(sm){
                font-size: 1.8rem;
            }
        }

        &__row-btn{
            padding: 0;
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.6;
        }
    }

    &-gift{
        display: flex;
        align-items: center;
        justify-content: space-between;
        

        &__img-wrap{
            position: relative;
            flex-shrink: 0;
            width: 76px;
            height: 76px;
            border-radius: 14px;
            background-color: rgba(118, 68, 225, 0.2);

            @include abstracts.screen(sm){
                width: 60px;
                height: 60px;
            }
        }

        &__img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include abstracts.screen(sm){
                width: 44px;
                height: 44px;
            }
        }

        &__heading, &__desc{
            color: var(--checkout-text-color);
            line-height: 1.5;
        }

        &__heading{
            font-weight: 500;
            font-size: 1.8rem;
            margin-bottom: 10px;
        }

        &__desc{
            font-size: 1.4rem;
            width: 253px;
        }
    }

    
}

.address{
    &-message{
        font-weight: 500;
        font-size: 1.8rem;
        margin-top: 30px;

        &__link{
            color: #0071DC;
        }
    }

    &-top{
        display: flex;
        justify-content: space-between;

        @include abstracts.screen(md){
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
        }

        &__title, &__desc{
            color: var(--checkout-text-color);
            line-height: 1.5;
        }

        &__title, &__btn{
            font-size: 1.8rem;
            font-weight: 500;

            @include abstracts.screen(sm){
                font-size: 1.6rem;
            }
        }

        &__desc{
            font-size: 1.5rem;
        }

        &__btn{
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 13px 22px;
            border-radius: 30px;
            color: #1A162E;
        }
    }

    &-list{
        margin-top: 30px;
    }

    &-item{
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @include abstracts.screen(md){
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
        }

        &__left{
            display: flex;
            gap: 16px;
            align-items: flex-start;
        }

        &__address{
            @include abstracts.screen(lg){
                width: min(570px, 90%);
            }
        }

        &__bottom{
            display: flex;
            align-items: center;
            margin-top: 20px;
            gap: 30px;
            list-style: disc inside;

            &-text{
                font-size: 1.4rem;
                color: var(--checkout-text-color);
            }
        }

        &__check{
            appearance: none;

            &::before{
                content: url("../icon/uncheck.svg");
            }

            &:not(:checked)::before{
                filter: var(--icon-color);
            }

            &:checked::before{
                content: url("../icon/check.svg");
            }
        }

    }
}



.payment{

    &-row, &-row__top{
        display: flex;
        align-items: center;
    }

    &-row__top{
        @include abstracts.screen(lg){
            gap: 20px;
        }
    }

    &-row{
        margin-top: 30px;
        background-color: var(--payment-row-bg-color);
        border-radius: 20px;
        padding: 20px;

        @include abstracts.screen(sm){
           
        }

        &__right{
            display: flex;
            justify-content: space-between;
            flex: 1;

            @include abstracts.screen(sm){
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
            }
        }


       
        &__view{
            
            padding: 8px;
            margin-left: auto;

            &:hover{
                text-decoration: underline;
                text-underline-offset: 3px;
            }

        }

       
    }

    &-heading{
        font-size: 2.2rem;
        margin-right: auto;
    }

    &-title, &-desc, &-row__view{
        color: var(--checkout-text-color);
        line-height: 1.5;
    }

    &-title{
        font-weight: 500;
        font-size: 1.8rem;
        margin-bottom: 4px;
    }

    &-desc{
        font-size: 1.5rem;
    }

    &-img{
        width: 70px;
        height: 54px; 
        margin-right: 20px;
    }

    &-lable{
        display: flex;
        align-items: center;
        gap: 17px;
        flex-direction: row-reverse;
    }

    &-btn__text{
        margin-top: -4px;
        font-size: 1.8rem;
        font-weight: 500;
        color: #9E9DA8;
    }

    &-input{
        appearance: none;

        &::after{
            content: url("../icon/uncheck.svg");
        }

        &:checked::after{
            content: url("../icon/check.svg");
        }

        &:checked +.payment-btn__text{
            color: var(--payment-btn-text-color);
        }

        &:not(:checked)::after {
            filter: var(--icon-color);
        }
    }

    &-form{
        margin-top: 30px;

        @include abstracts.screen(lg){
           width: 460px;
        }

        &__lable{
            display: block;
            font-size: 1.8rem;
            margin-bottom: 20px;
        }

        &__group{
            margin-top: 0 !important;
        }

        &__input{
            @include abstracts.screen(lg){
                width: 65%;
                padding: 12px;
            }
        }
    }

   
}