.logo {
  display: flex;
  align-items: center;
  column-gap: 14px;
}
@media (max-width: 991.98px) {
  .logo {
    column-gap: 10px;
  }
}
.logo-title {
  font-weight: 700;
  font-size: 2.2rem;
  color: var(--text-color);
}
@media (max-width: 991.98px) {
  .logo-title {
    font-size: 1.8rem;
  }
}
@media (max-width: 991.98px) {
  .logo-img {
    width: 24px;
  }
}

.dropdrow {
  position: absolute;
  left: 0;
  padding-top: 54px;
  width: min(1240px, 100%);
  display: none;
}
@media (max-width: 991.98px) {
  .dropdrow {
    position: initial;
    padding-top: 0;
  }
}
.dropdrow-inner {
  --inner-padding: 30px;
  --inner-max-height: min(582px, 100vh - 158px);
  --inner-width-column: 292px;
  position: relative;
  padding: var(--inner-padding);
  border-radius: 20px;
  background-color: var(--dropdrow-bg-color);
  box-shadow: 0 40 90 20 var(--dropdrow-shawdow-color);
  max-height: var(--inner-max-height);
}
@media (max-width: 991.98px) {
  .dropdrow-inner {
    padding: 0 15px;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    max-height: inherit;
  }
}
@media (max-width: 1199.98px) {
  .dropdrow-inner {
    padding: 0 20px;
  }
}
.dropdrow-inner::before {
  content: url("../icon/dropdrow-arrow.svg");
  position: absolute;
  top: -15px;
  left: var(--arrow-left-pos);
  transform: translate(-50%);
  filter: var(--dropdrow-arrow-color);
}
@media (max-width: 991.98px) {
  .dropdrow-inner::before {
    display: none;
  }
}
.dropdrow-menu {
  position: relative;
}
.dropdrow-menu__main {
  overflow-y: auto;
  height: inherit;
  width: var(--inner-width-column);
  border-right: 1px solid var(--dropdrow-menu-main-border-color);
}
@media (max-width: 991.98px) {
  .dropdrow-menu__main {
    width: 100%;
    border-right: none;
    height: auto;
  }
}

.menu-column {
  display: flex;
  column-gap: 14px;
}
.menu-column + .menu-column {
  margin-top: calc(var(--inner-padding) - 15px);
}
.menu-column__icon-box {
  position: relative;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}
@media (max-width: 991.98px) {
  .menu-column__icon-box-hidden-on-tab {
    display: block;
  }
}
.menu-column__icon:first-child {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.menu-column__icon:last-child {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 24px;
  height: 24px;
  object-fit: contain;
  filter: var(--icon-color);
}
@media (max-width: 1199.98px) {
  .menu-column__icon {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .menu-column__icon {
    display: block;
  }
}
.menu-column__icon-box {
  position: relative;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}
@media (max-width: 991.98px) {
  .menu-column__icon-box-hidden-on-tab {
    display: none;
  }
}
.menu-column__content {
  flex-grow: 1;
}
.menu-column__heading a {
  display: block;
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--text-color);
  margin-bottom: 15px;
  margin-top: 10px;
}
.menu-column__items--active .sub-menu {
  display: grid;
}
.menu-column__items--active > .menu-column__link, .menu-column__items:hover > .menu-column__link {
  color: #0071DC;
  font-weight: 500;
}
@media (max-width: 991.98px) {
  .menu-column__items--active > .menu-column__link {
    margin-bottom: 19px;
  }
}
.menu-column__link {
  display: block;
  font-size: 1.4rem;
  color: var(--nav-text-color);
  padding: 7px 0;
}

.sub-menu {
  position: absolute;
  inset: 0 0 0 var(--inner-width-column);
  padding-left: var(--inner-padding);
  display: none;
  grid-template-columns: repeat(3, 1fr);
  overflow-y: auto;
  column-gap: var(--inner-padding);
}
@media (max-width: 991.98px) {
  .sub-menu {
    position: initial;
    padding-left: 0;
    grid-template-columns: 1fr;
  }
}
.sub-menu--not-main {
  position: initial;
  inset: initial;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  height: calc(var(--inner-max-height) - var(--inner-padding) * 2);
}
@media (max-width: 991.98px) {
  .sub-menu--not-main {
    grid-template-columns: 1fr;
    height: auto;
  }
}
.sub-menu--not-main .sub-menu__column {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.slideshow {
  --color: #fff;
}
.slideshow-inner {
  position: relative;
  width: 100%;
  height: 455px;
  overflow: hidden;
  margin-top: 40px;
  border-radius: 20px;
}
.slideshow-item {
  position: relative;
  width: 100%;
  flex-shrink: 0;
  padding-top: 34%;
}
.slideshow-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slideshow-page {
  position: absolute;
  bottom: 66px;
  left: 70px;
  align-items: center;
}
.slideshow-number {
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--color);
  margin-right: 20px;
}
.slideshow-jamb {
  position: relative;
  width: 184px;
  height: 4px;
  background-color: var(--color);
  align-items: center;
  margin-right: 20px;
}
.slideshow-jamb::after, .slideshow-jamb::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 4px solid var(--color);
  border-radius: 50%;
}
.slideshow-jamb::after {
  left: -10px;
}
.slideshow-jamb::before {
  right: -10px;
}

/*# sourceMappingURL=index.css.map */
