@use "../abstracts";

html.dark {
    
        --text-color: #FFFFFF;
        --icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(329deg) brightness(102%) contrast(101%);
        --header-bg-color: #171C28;
        --header-action-group-bg:#4d5056;
        --header-action-group-shadow-bg: #EDEDF633;
        --header-action-group-skeleton-bg: #EDEDF6;
        --body-bg-color: #292E39;
        @include abstracts.screen(sm) {
                --header-shadow-color:rgba(0, 0, 0, 0.2);
            }


// dropdrow
        --dropdrow-bg-color:#3a404e;
        --dropdrow-text-color: #B9BABE;
        --dropdrow-shawdow-color: rgba(23, 28, 40, 0.4);
        --dropdrow-arrow-color: brightness(0) saturate(100%) invert(23%) sepia(14%) saturate(688%) hue-rotate(184deg) brightness(98%) contrast(92%);
        --dropdrow-menu-main-border-color: #171C28;

// nav 

        --nav-shawdow-color:rgba(23, 28, 40, 0.4);
        --nav-bg-color:#292E39;
        --nav-text-color: #B9BABE;
        --nav-btn-icon-color: brightness(0) saturate(100%) invert(70%) sepia(0%) saturate(3473%) hue-rotate(93deg) brightness(106%) contrast(95%);


// cate

        --cate-item-bg-color: #171C28;
        --cate-img-bg-color: #292E39;
        --cate-title-color: #fff;

// product

        --filter-btn-bg-color: #171C28;
        --like-btn-bg-color: #292E39;
        --like-btn-shadow-color: rgba(124, 124, 124, 0.2);
        --product-item-heading-color: #FFFFFF;



// filter
        --filter-bg-color: #292E39;
        --filter-shadow-color: rgba(0, 0, 0, 0.4);
        --filter-text-color: #fff;
        --filter-bg-btn-tag-color: #171C28;
        --filter-arown-color: brightness(0) saturate(100%) invert(13%) sepia(12%) saturate(1226%) hue-rotate(183deg) brightness(91%) contrast(85%);


// auth

        --auth-right-bg-color: #292E39;
        --auth-text-color: #B9BABE;
        --auth-left-bg-color: #000;

// product-detail

        --product-bg-color: transparent;
        --product-breadcrumbs-bg-color: #171C28;
        --product-breadcrumbs-shadow-color: rgba(23, 28, 40, 0.2);
        --breadcrumbs-item-color: #fff;
        --product-right-bg-color:#171C28;
        --product-thumbs-border-color: #d6d725;
        --product-filter-btn-bg-color:#292E39;

        @include abstracts.screen(lg){
                --product-breadcrumbs-bg-color: #171C28;
                --product-left-bg-color: #171C28;
            }

// footer

        --footer-bg-color:#171C28;
        --footer-bg-heading: #fff;
        --footer-item-color: #eee;

// review

        --review-bg-color: #171C28;


// atc dropdown

        --atc-dropdown-bg-color: #292E39;
        --atc-dropdown-shadow-color:rgba(23, 28, 40, 0.4);
        --atc-dropdown-border-bottom-color: #171C28;
    
}