html.dark {
    
        --text-color: #FFFFFF;
        --icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(329deg) brightness(102%) contrast(101%);
        --header-bg-color: #171C28;
        --header-action-group-bg:#4d5056;
        --header-action-group-shadow-bg: #EDEDF633;
        --header-action-group-skeleton-bg: #EDEDF6;
        --body-bg-color: #292E39;


        --dropdrow-bg-color:#3a404e;
        --dropdrow-text-color: #B9BABE;
        --dropdrow-shawdow-color: rgba(23, 28, 40, 0.4);
        --dropdrow-arrow-color: brightness(0) saturate(100%) invert(23%) sepia(14%) saturate(688%) hue-rotate(184deg) brightness(98%) contrast(92%);
        
}