@use "../abstracts";

:root{


    --text-color: #1A162E;
    --icon-color: brightness(0) saturate(100%) invert(7%) sepia(18%) saturate(3413%) hue-rotate(220deg) brightness(97%) contrast(94%);
    --header-bg-color: #EEEEEE;
    --header-action-group-bg: #fff;
    --header-action-group-skeleton-bg: #EDEDF6;
    --header-action-group-shadow-bg: #EDEDF633;
    --body-bg-color: #F6F6F6;
    @include abstracts.screen(sm) {
        --header-bg-color: #FFF;
        --header-shadow-color:rgba(237, 237, 246, 0.2);
    }


// dropdrow
    --dropdrow-bg-color: #fff;
    --dropdrow-text-color: #1A162E;
    --dropdrow-shawdow-color: rgba(200, 200, 200, 0.4);
    --dropdrow-menu-main-border-color: #D2D1D6;


// nav
    --nav-shawdow-color: rgba(200, 200, 200, 0.4);
    --nav-bg-color: #fff;
    --nav-text-color: #1A162E;
    --nav-btn-icon-color: brightness(0) saturate(100%) invert(6%) sepia(29%) saturate(3345%) hue-rotate(229deg) brightness(91%) contrast(92%);



// cate

    --cate-item-bg-color: #EEEEEE;
    --cate-img-bg-color: #fff;
    --cate-title-color: #000;

    @include abstracts.screen(md){
        --cate-item-bg-color: #fff;
    }

// product
    --filter-btn-bg-color: #FFFFFF;
    --like-btn-bg-color: #FFFFFF;
    --like-btn-shadow-color: rgba(124, 124, 124, 0.2);
    --product-item-heading-color: #1A162E;


// filter

    --filter-bg-color: #fff;
    --filter-shadow-color: rgba(200, 200, 200, 0.4);
    --filter-text-color: #1A162E;
    --filter-bg-btn-tag-color: #F8F8FB;
    --filter-arown-color: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(0%) hue-rotate(66deg) brightness(107%) contrast(106%);


// auth

    --auth-right-bg-color: #FFFFFF;
    --auth-text-color: #1A162E;

// product-detail

    --product-bg-color: #fff;
    --product-breadcrumbs-bg-color: #F6F6F6;
    --product-breadcrumbs-shadow-color: rgba(237, 237, 246, 0.2);
    --breadcrumbs-item-color: #1A162E;
    --product-right-bg-color:#F6F6F6;
    --product-thumbs-border-color: #9E9DA8;
    --product-filter-btn-bg-color:#EDEDF6;

    @include abstracts.screen(lg){
        --product-bg-color: #FAFAFD;
        --product-breadcrumbs-bg-color: #FFF;
        --product-right-bg-color:#FFF;
        --product-left-bg-color: #FFF;
    }



// footer

    --footer-bg-color:#eee;
    --footer-bg-heading: #1a162e;
    --footer-item-color: #1A162E;

// review

    --review-bg-color: #FAFAFD;

    @include abstracts.screen(lg){
        --review-bg-color: #fff;
    }



// atc dropdown

    --atc-dropdown-bg-color: #fff;
    --atc-dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --atc-dropdown-border-bottom-color: #D2D1D6;


// checkout

    --checkout-breadcrumb-bg-color: #fff;
    --checkout-breadcrumb-shadow-color: rgba(237, 237, 246, 0.2);
    --checkout-text-color: #1A162E;

 // form

    --form-dialog-item-bg-color: #eee;

// payment 

    --payment-row-bg-color: #F6F6F6;
    --payment-btn-text-color:  #1A162E;

}
    
