@use "../abstracts";


%flexItemCenter {
    display: flex;
    align-items: center;
}


.header{
    background-color: var(--header-bg-color);

    &-inner{
        @extend %flexItemCenter;
        position: relative;
        z-index: 1;
        justify-content: space-between;
        padding: 30px 0;

        @include abstracts.screen(sm) {
            padding: 16px 0;
        }
    }

    @include abstracts.screen(sm){
        box-shadow: 0 20 60 10 var(--header-shadow-color);
    }

    &-action{
        @extend %flexItemCenter;
        column-gap: 20px;

        &__group{
            @extend %flexItemCenter;
           border-radius: 8px;
           background-color: var(--header-action-group-bg);
           box-shadow: 0px 20px 60px 10px var(--header-action-group-shadow-bg);
           min-width: 50px;
           height: 50px;

           @include abstracts.screen(sm) {
            display: none
        }

        }

        &__group:first-child{
            @include abstracts.screen(lg) {
                display: none
            }
        }

        &__btn{
            padding: 13px 20px;
           @extend %flexItemCenter;
            column-gap: 10px;
            cursor: pointer;
        }

        &__btn:first-child{
            padding: 13px;
           
        }

        &__title{
            font-size: 1.5rem;
            font-weight: 500;
            color: var(--text-color);
        }

        &__user{
            box-shadow: 0px 20px 60px 10px #EDEDF633;
            cursor: pointer;
        }

        &__avatar{
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 8px;
            object-fit: cover;
        }

        &__skeleton{
            width: 1px;
            height: 30px;
            background-color: var( --header-action-group-skeleton-bg);
        }
    }
}


.header-menu{
    display: none;

    @include abstracts.screen(lg) {
        display: block;
    }
}

.nav{

    @include abstracts.screen(lg){
            position: fixed;
            z-index: 9;
            background-color: var(--nav-bg-color);
            inset: 0 50% 0 0;
            transform: translateX(-100%);
            transition: all 0.5s;
            border-radius: 0px 20px 20px 0px;
           
    }

    @include abstracts.screen(sm){
        inset: 0 20% 0 0;
    }

    &-close__btn{
        display: none;
        filter: var(--nav-btn-icon-color);

        @include abstracts.screen(lg){
            display: block;
            width: 25px;
            height: 25px;
            margin: 20px 0 20px 20px;
        }
    }

    &-btn{
        height: 44px;
        padding: 0 20px;
        align-items: center;

        &__title, &__qnt{
            margin-left: 16px;
            font-weight: 500; 
            font-size: 1.5rem;
            color: var(--nav-text-color);     
        }

        &__qnt{
            margin-left: auto
        }

        &__icon{
            filter: var(--nav-btn-icon-color);
        }
    }

    &-list{
        @extend %flexItemCenter;

        @include abstracts.screen(lg){
            flex-direction: column;
            align-items: flex-start;
            padding: 20px 40px;
            height: calc(100% - 48px);
            overflow: auto;
            overscroll-behavior: contain;
        }

        @include abstracts.screen(sm){
            padding: 0;
            height: calc(100% - 155px);
        }
    }

    &-items{
        &:hover .dropdrow{
           display: block;
        }

        @include abstracts.screen(lg){
            width: 100%;

            &--active .dropdrow{
                display: block !important;
             }
        
            &:hover .dropdrow{
                display: none;
             }
        }
    }

    &-link{
        display: flex;
        padding: 25px 15px;
        column-gap: 6px;
        color: var(--nav-text-color);
        font-weight: 500;
        font-size: 1.5rem; 

        @include abstracts.screen(lg){
            justify-content: space-between;
        }

        @include abstracts.screen(sm){
            padding: 15px 20px;
        }
    }

    &-arow{
        margin-top: 4px;

        @include abstracts.screen(lg){
            rotate: -90deg;
            transition: rotate 0.3s;
        }
    }

    &-items--active &-arow{
        rotate: 0deg;
    }
}


.overlay{
    transition: all 0.5s;
    position: fixed;
    inset: 0;
    z-index: 8;
    background-color: rgba($color: #000000, $alpha: 0.4);
    opacity: 0;
    visibility: hidden;
}


.input-check:checked ~ .nav{
    transform: translateX(0);
    box-shadow: 0 40 90 20 var(--nav-shawdow-color);
}

.input-check:checked ~ .overlay{
    visibility: visible;
    opacity: 1;
}

