// filter-btn

.home-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    gap: 18px;
    background-color: var(--filter-btn-bg-color);
    height: 36px;
   padding: 0 11px;
}

// btn like

.like__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var( --like-btn-bg-color);
    box-shadow: 0px 20px 60px 6px var(--like-btn-shadow-color);

    &-like .like__btn-icon{
        display: none;
    }

    &:not(.like__btn-like) .like__btn-icon-red{
        display: none;
    }

    &-icon-red{
        margin-top: 6px;
    }
}


// btn

.btn{
    background-color: #F8F8FB;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    transition: background-color, color;
    transition-duration: 0.3s;

    &-text{
        background-color: transparent;

        &:hover{
            text-decoration: underline;
            text-underline-offset: 3px;
        }
    }

    &-primary{
        background-color: #FFB700;
        border: 1px solid #FFB700;
        

        &:hover{
           background-color: #FFF;
           color: black;
        }
    }
}