@use "../abstracts";


.dropdrow {
    position: absolute;
    left: 0;
    padding-top: 54px;
    width: min(1240px, 100%);
    display: none;

    @include abstracts.breakpoint(lg){
        position: initial;
        padding-top: 0;
    }

    
    &-inner{
        --inner-padding: 30px;
        --inner-max-height: min(582px, 100vh - 158px);
        --inner-width-column: 292px;

        @include abstracts.breakpoint(lg){
            padding: 0 15px;
            border-radius: 0;
            background-color: transparent;
            box-shadow: none;
            max-height: inherit;
        }


        position: relative;
        padding: var(--inner-padding);
        border-radius: 20px;
        background-color: var(--dropdrow-bg-color);
        box-shadow: 0 40 90 20 var( --dropdrow-shawdow-color);
        max-height: var(--inner-max-height);
        &::before {
            content: url("../icon/dropdrow-arrow.svg");
            position: absolute;
            top: -15px;
            left: var(--arrow-left-pos);
            transform: translate(-50%);
            filter: var(--dropdrow-arrow-color);

            @include abstracts.breakpoint(lg){
                display: none;
            }
        }
    }

    &-menu{
        position: relative;
    }



    &-menu__main{
            overflow-y: auto;
            height: inherit;
            width: var(--inner-width-column);
            border-right: 1px solid var(--dropdrow-menu-main-border-color);

            @include abstracts.breakpoint(lg){
                width: 100%;
                border-right: none;
                height: auto;
            }
        }
}

.menu-column{

    display: flex;
    column-gap: 14px;

    + .menu-column{
        margin-top: calc(var(--inner-padding) - 15px);
    }

    &__icon-box{
        position: relative;
        width: 36px;
        height: 36px;
        flex-shrink: 0;

        &-hidden-on-tab{
            @include abstracts.breakpoint(lg){
                display: block;
            }
        }

    }

    &__icon{

        &:first-child{
            width: 30px;
            height: 30px;
            object-fit: contain;
        }

        &:last-child{
            position: absolute;
            right: 0;
            bottom: 0;
            width: 24px;
            height: 24px;
            object-fit: contain;
            filter: var(--icon-color);
        }
        
        @include abstracts.breakpoint(xl){
        display: none;
        }

        @include abstracts.breakpoint(lg){
        display: block;
        }
    }

    &__icon-box{
    position: relative;
    width: 36px;
    height: 36px;
    flex-shrink: 0;

    &-hidden-on-tab{
        @include abstracts.breakpoint(lg){
            display: none;
        }
    }

    }



    &__content{
        flex-grow: 1;
    }

    &__heading a{
        display: block;
        font-weight: 500;
        font-size: 1.6rem;
        color: var(--text-color);
        margin-bottom: 15px;
        margin-top: 10px;
    }

    &__items--active .sub-menu{
        display: grid;
    }


    &__items--active > .menu-column__link,
    &__items:hover > .menu-column__link{
        color: #0071DC;
        font-weight: 500;
    }

    &__items--active > .menu-column__link{
        @include abstracts.breakpoint(lg){
            margin-bottom: 19px;
        }
    }

    &__link{
        display: block;
        font-size: 1.4rem;
        color:var( --text-color) ;
        padding: 7px 0;
    }
}

.sub-menu{
    position: absolute;
    inset: 0 0 0 var(--inner-width-column);
    padding-left: var(--inner-padding);

    display: none;
    grid-template-columns: repeat(3, 1fr);
    overflow-y: auto ;
    column-gap: var(--inner-padding);

    @include abstracts.breakpoint(lg){
        position: initial;
        padding-left: 0;
        grid-template-columns: 1fr;
    }

    &--not-main{
        position: initial;
        inset: initial;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 30px;
        height: calc(var(--inner-max-height) - (var(--inner-padding) * 2));

         @include abstracts.breakpoint(lg){
            grid-template-columns: 1fr;
            height: auto;
         }

        & .sub-menu__column{
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
    }
}