
.dropdrow {
    position: absolute;
    left: 0;
    padding-top: 54px;
    max-width: 1240px;
    // visibility: hidden;
    // opacity: 0;
    transition: 0.5 ease-in-out;

    &-inner{
        position: relative;
        padding: 30px;
        border-radius: 20px;
        background-color: var(--dropdrow-bg-color);
        color: var(--dropdrow-text-color);
        box-shadow: 0 40 90 20 var( --dropdrow-shawdow-color);
        height: min(582px, 100vh - 158px);
        &::before {
            content: url("../icon/dropdrow-arrow.svg");
            position: absolute;
            top: -15px;
            left: var(--arrow-left-pos);
            transform: translate(-50%);
            filter: var(--dropdrow-arrow-color);
        }
    }
}