.text-content{
    font-size: 1.6rem;
    line-height: 1.6;

    h1, h2, h3, h4, h5, h6{
        font-weight: 600;
    }
    
    h1{
        font-size: 2.8rem;
    }
    
    h2{
        font-size: 2.4rem;
    }
    
    h3{
        font-size: 2rem;
    }
    
    h4{
        font-size: 1.8rem;
    }
    
    h5{
        font-size: 1.6rem;
    }
    
    h6{
        font-size: 1.4rem;
    }
    
    h1, h2, h3, h4, h5, h6, p, blockquote, img{
        margin: 20px 0;
    }
    
    hr{
        margin: 40px 0;
        height: 1px;
        background-color: #c9d3cd;
    }
    
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    
    img + em{
        font-style: italic;
        display: block;
        text-align: center;
    }

    a{
        color: #5a57ef !important;
        text-decoration: underline;
    }

    blockquote{
        background-color: rgb(255 183 0 / 20%);
        padding: 20px;
        border-left: 4px solid #FFB700;

        p{
            margin: 0;
        }
    }
}