@use "../abstracts";

*, ::after, ::before {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}



html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Gordita', sans-serif;
    color: var(--text-color);
    background-color: var(--body-bg-color);
}


button, input, select, textarea, a{
    border: none; 
    outline: none;
    background-color: transparent;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}

button{
    user-select: none;
    cursor: pointer;
}


a{
  text-decoration: none;
}

.icon{
    filter: var(--icon-color);
}

.container {
    @include abstracts.screen(sm){
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

}

i, em{
    font-style: italic;
}

b, strong{
    font-weight: 600;
}

u{
    text-decoration: underline;
}