*, ::after, ::before {
    box-sizing: border-box;
}



html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Gordita', sans-serif;
    color: var(--text-color);
    background-color: var(--body-bg-color);
}


button, input, select, textarea, a{
    border: none; 
    outline: none;
    background-color: transparent;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    -webkit-tap-highlight-color: transparent;
}


a{
  text-decoration: none;
}

.icon{
    filter: var(--icon-color);
}