html.dark {
  --text-color: #FFFFFF;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(329deg) brightness(102%) contrast(101%);
  --header-bg-color: #171C28;
  --header-action-group-bg:#4d5056;
  --header-action-group-shadow-bg: #EDEDF633;
  --header-action-group-skeleton-bg: #EDEDF6;
  --body-bg-color: #292E39;
  --dropdrow-bg-color:#3a404e;
  --dropdrow-text-color: #B9BABE;
  --dropdrow-shawdow-color: rgba(23, 28, 40, 0.4);
  --dropdrow-arrow-color: brightness(0) saturate(100%) invert(23%) sepia(14%) saturate(688%) hue-rotate(184deg) brightness(98%) contrast(92%);
  --dropdrow-menu-main-border-color: #171C28;
  --nav-shawdow-color:rgba(23, 28, 40, 0.4);
  --nav-bg-color:#292E39;
  --nav-text-color: #B9BABE;
  --nav-btn-icon-color: brightness(0) saturate(100%) invert(70%) sepia(0%) saturate(3473%) hue-rotate(93deg) brightness(106%) contrast(95%);
  --cate-item-bg-color: #171C28;
  --cate-img-bg-color: #292E39;
  --cate-title-color: #fff;
  --filter-btn-bg-color: #171C28;
  --like-btn-bg-color: #292E39;
  --like-btn-shadow-color: rgba(124, 124, 124, 0.2);
  --product-item-heading-color: #FFFFFF;
  --filter-bg-color: #292E39;
  --filter-shadow-color: rgba(0, 0, 0, 0.4);
  --filter-text-color: #fff;
  --filter-bg-btn-tag-color: #171C28;
  --filter-arown-color: brightness(0) saturate(100%) invert(13%) sepia(12%) saturate(1226%) hue-rotate(183deg) brightness(91%) contrast(85%);
  --auth-right-bg-color: #292E39;
  --auth-text-color: #B9BABE;
  --auth-left-bg-color: #000;
  --product-bg-color: transparent;
  --product-breadcrumbs-bg-color: #171C28;
  --product-breadcrumbs-shadow-color: rgba(23, 28, 40, 0.2);
  --breadcrumbs-item-color: #fff;
  --product-right-bg-color:#171C28;
  --product-thumbs-border-color: #d6d725;
  --product-filter-btn-bg-color:#292E39;
  --footer-bg-color:#171C28;
  --footer-bg-heading: #fff;
  --footer-item-color: #eee;
}
@media (max-width: 575.98px) {
  html.dark {
    --header-shadow-color:rgba(0, 0, 0, 0.2);
  }
}
@media (max-width: 991.98px) {
  html.dark {
    --product-breadcrumbs-bg-color: #171C28;
    --product-left-bg-color: #171C28;
  }
}

:root {
  --text-color: #1A162E;
  --icon-color: brightness(0) saturate(100%) invert(7%) sepia(18%) saturate(3413%) hue-rotate(220deg) brightness(97%) contrast(94%);
  --header-bg-color: #EEEEEE;
  --header-action-group-bg: #fff;
  --header-action-group-skeleton-bg: #EDEDF6;
  --header-action-group-shadow-bg: #EDEDF633;
  --body-bg-color: #F6F6F6;
  --dropdrow-bg-color: #fff;
  --dropdrow-text-color: #1A162E;
  --dropdrow-shawdow-color: rgba(200, 200, 200, 0.4);
  --dropdrow-menu-main-border-color: #D2D1D6;
  --nav-shawdow-color: rgba(200, 200, 200, 0.4);
  --nav-bg-color: #fff;
  --nav-text-color: #1A162E;
  --nav-btn-icon-color: brightness(0) saturate(100%) invert(6%) sepia(29%) saturate(3345%) hue-rotate(229deg) brightness(91%) contrast(92%);
  --cate-item-bg-color: #EEEEEE;
  --cate-img-bg-color: #fff;
  --cate-title-color: #000;
  --filter-btn-bg-color: #FFFFFF;
  --like-btn-bg-color: #FFFFFF;
  --like-btn-shadow-color: rgba(124, 124, 124, 0.2);
  --product-item-heading-color: #1A162E;
  --filter-bg-color: #fff;
  --filter-shadow-color: rgba(200, 200, 200, 0.4);
  --filter-text-color: #1A162E;
  --filter-bg-btn-tag-color: #F8F8FB;
  --filter-arown-color: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(0%) hue-rotate(66deg) brightness(107%) contrast(106%);
  --auth-right-bg-color: #FFFFFF;
  --auth-text-color: #1A162E;
  --product-bg-color: #fff;
  --product-breadcrumbs-bg-color: #F6F6F6;
  --product-breadcrumbs-shadow-color: rgba(237, 237, 246, 0.2);
  --breadcrumbs-item-color: #1A162E;
  --product-right-bg-color:#F6F6F6;
  --product-thumbs-border-color: #9E9DA8;
  --product-filter-btn-bg-color:#EDEDF6;
  --footer-bg-color:#eee;
  --footer-bg-heading: #1a162e;
  --footer-item-color: #1A162E;
}
@media (max-width: 575.98px) {
  :root {
    --header-bg-color: #FFF;
    --header-shadow-color:rgba(237, 237, 246, 0.2);
  }
}
@media (max-width: 767.98px) {
  :root {
    --cate-item-bg-color: #fff;
  }
}
@media (max-width: 991.98px) {
  :root {
    --product-bg-color: #FAFAFD;
    --product-breadcrumbs-bg-color: #FFF;
    --product-right-bg-color:#FFF;
    --product-left-bg-color: #FFF;
  }
}

/*# sourceMappingURL=index.css.map */
