.nav-list, .header-action__btn, .header-action__group, .header-action, .header-inner {
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--header-bg-color);
  position: relative;
  z-index: 2;
}
@media (max-width: 991.98px) {
  .header-logo {
    column-gap: 10px;
  }
}
@media (max-width: 991.98px) {
  .header-logo-title {
    font-size: 1.8rem;
  }
}
@media (max-width: 991.98px) {
  .header-logo-img {
    width: 24px;
  }
}
.header-inner {
  position: relative;
  z-index: 1;
  justify-content: space-between;
  padding: 30px 0;
}
@media (max-width: 575.98px) {
  .header-inner {
    padding: 16px 0;
  }
}
@media (max-width: 575.98px) {
  .header {
    box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
  }
}
.header-action {
  column-gap: 20px;
}
.header-action__group {
  border-radius: 8px;
  background-color: var(--header-action-group-bg);
  box-shadow: 0px 20px 60px 10px var(--header-action-group-shadow-bg);
  min-width: 50px;
  height: 50px;
}
@media (max-width: 575.98px) {
  .header-action__group {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .header-action__group:first-child {
    display: none;
  }
}
.header-action__btn {
  position: relative;
  padding: 13px 20px;
  column-gap: 10px;
  cursor: pointer;
}
.header-action__btn:first-child {
  padding: 13px;
}
.header-action__btn-wrap:hover .act-dropdown, .header-action__user:hover .act-dropdown {
  visibility: visible;
  opacity: 1;
}
.header-action__avatar:hover .user-dropdown {
  opacity: 1;
  visibility: visible;
}
.header-action__title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color);
}
.header-action__user {
  box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
  cursor: pointer;
}
.header-action__avatar {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
}
.header-action__skeleton {
  width: 1px;
  height: 30px;
  background-color: var(--header-action-group-skeleton-bg);
}
@media (max-width: 767.98px) {
  .header-btn__none-md {
    display: none !important;
  }
}

.header-menu {
  display: none;
}
@media (max-width: 991.98px) {
  .header-menu {
    display: block;
  }
}

@media (max-width: 991.98px) {
  .nav {
    position: fixed;
    z-index: 9;
    background-color: var(--nav-bg-color);
    inset: 0 50% 0 0;
    transform: translateX(-100%);
    transition: all 0.5s;
    border-radius: 0px 20px 20px 0px;
  }
}
@media (max-width: 575.98px) {
  .nav {
    inset: 0 20% 0 0;
  }
}
.nav-close__btn {
  display: none;
  filter: var(--nav-btn-icon-color);
}
@media (max-width: 991.98px) {
  .nav-close__btn {
    display: block;
    width: 25px;
    height: 25px;
    margin: 20px 0 20px 20px;
  }
}
.nav-btn {
  height: 44px;
  padding: 0 20px;
  align-items: center;
}
.nav-btn__title, .nav-btn__qnt {
  margin-left: 16px;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--nav-text-color);
}
.nav-btn__qnt {
  margin-left: auto;
}
.nav-btn__icon {
  filter: var(--nav-btn-icon-color);
}
@media (max-width: 991.98px) {
  .nav-list {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 40px;
    height: calc(100% - 48px);
    overflow: auto;
    overscroll-behavior: contain;
  }
}
@media (max-width: 575.98px) {
  .nav-list {
    padding: 0;
    height: calc(100% - 155px);
  }
}
.nav-items:hover .dropdrow {
  display: block;
}
@media (max-width: 991.98px) {
  .nav-items {
    width: 100%;
  }
  .nav-items--active .dropdrow {
    display: block !important;
  }
  .nav-items:hover .dropdrow {
    display: none;
  }
}
.nav-link {
  display: flex;
  padding: 25px 15px;
  column-gap: 6px;
  color: var(--nav-text-color);
  font-weight: 500;
  font-size: 1.5rem;
}
@media (max-width: 991.98px) {
  .nav-link {
    justify-content: space-between;
  }
}
@media (max-width: 575.98px) {
  .nav-link {
    padding: 15px 20px;
  }
}
.nav-arow {
  margin-top: 4px;
}
@media (max-width: 991.98px) {
  .nav-arow {
    rotate: -90deg;
    transition: rotate 0.3s;
  }
}
.nav-items--active .nav-arow {
  rotate: 0deg;
}

.overlay {
  transition: all 0.5s;
  position: fixed;
  inset: 0;
  z-index: 8;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
}

.input-check:checked ~ .nav {
  transform: translateX(0);
  box-shadow: 0px 40px 90px 20px var(--nav-shawdow-color);
}

.input-check:checked ~ .overlay {
  visibility: visible;
  opacity: 1;
}

.act-dropdown {
  position: absolute;
  right: 0;
  top: 110px;
  background-color: var(--atc-dropdown-bg-color);
  border-radius: 20px;
  box-shadow: 0 40px 90px 20px var(--atc-dropdown-shadow-color);
  opacity: 0;
  visibility: hidden;
  transition: all 0.7s;
}
.act-dropdown__favorite {
  top: 71px;
  right: -180px;
}
.act-dropdown__separate {
  margin: 30px 0;
  width: 100%;
  height: 1px;
  background-color: var(--atc-dropdown-border-bottom-color);
}
.act-dropdown__inner {
  position: relative;
  padding: 30px;
  width: 585px;
}
.act-dropdown__arrow {
  position: absolute;
  top: -15px;
  right: 100px;
  filter: var(--filter-arown-color);
}
.act-dropdown__arrow-favorite {
  right: 200px;
}
.act-dropdown__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.act-dropdown__title {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 1.6;
  color: var(--breadcrumbs-item-color);
}
.act-dropdown__see-all {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #0071DC;
}
.act-dropdown__see-all:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.act-dropdown__between {
  flex-wrap: nowrap;
  overflow: hidden;
  padding-bottom: 10px;
}
.act-dropdown__item {
  flex-shrink: 0;
}
.act-dropdown__item-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}
.act-dropdown__item-name {
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--breadcrumbs-item-color);
}
.act-dropdown__item-price {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
}
.act-dropdown__thumb {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.act-dropdown__thumb-wrap {
  width: 100%;
  position: relative;
  padding-top: 73%;
  border: 1px solid var(--atc-dropdown-border-bottom-color);
  border-radius: 10px;
}
.act-dropdown__bottom {
  margin: 10px 0 20px 0;
  padding: 20px 0;
  border-top: 1px solid var(--atc-dropdown-border-bottom-color);
  border-bottom: 1px solid var(--atc-dropdown-border-bottom-color);
}
.act-dropdown__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.act-dropdown__row + .act-dropdown__row {
  margin-top: 15px;
}
.act-dropdown__lable, .act-dropdown__value {
  font-size: 1.8rem;
  line-height: 1.6;
  color: var(--breadcrumbs-item-color);
}
.act-dropdown__lable-strong, .act-dropdown__value-strong {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--breadcrumbs-item-color);
}
.act-dropdown__footer {
  display: flex;
  justify-content: flex-end;
}
.act-dropdown__footer-btn {
  width: 275px;
  border-radius: 999px !important;
}

.user-arrow {
  position: absolute;
  top: -15px;
  right: 18px;
}
.user-avatar {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 50%;
}
.user-inner {
  width: 220px;
}
.user-name, .user-item {
  color: var(--text-color);
}
.user-name {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.6;
}
.user-menu {
  padding: 8px 0;
  border-top: 1px solid #d2d1d6;
  border-bottom: 1px solid #d2d1d6;
}
.user-icon {
  width: 16px;
  height: 16px;
}
.user-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}

.footer {
  background-color: var(--footer-bg-color);
}
.footer-inner {
  padding: 50px 0;
}
.footer-heading, .footer-desc, .footer-item, .footer-contact__desc, .footer-footer__desc {
  color: var(--footer-bg-heading);
}
.footer-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
}
@media (max-width: 1199.98px) {
  .footer-content {
    gap: 30px;
  }
}
@media (max-width: 991.98px) {
  .footer-content {
    grid-template-columns: 1fr;
    column-gap: 80px;
  }
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-desc, .footer-item, .footer-contact__desc, .footer-footer__desc {
  font-size: 1.4rem;
  line-height: 1.5;
}
.footer-desc {
  width: 100%;
  margin-bottom: 40px;
}
@media (max-width: 991.98px) {
  .footer-desc {
    margin-bottom: 15px;
  }
}
.footer-form {
  padding: 16px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 1199.98px) {
  .footer-form {
    flex-direction: column;
  }
}
@media (max-width: 991.98px) {
  .footer-form {
    flex-direction: row;
  }
}
.footer-input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  border: 2px solid #d2d1d6;
  font-size: 1.5rem;
  font-weight: 500;
}
@media (max-width: 991.98px) {
  .footer-input {
    width: 320px;
  }
}
@media (max-width: 575.98px) {
  .footer-input {
    width: 100%;
    font-size: 1.6rem;
  }
}
.footer-btn {
  height: 38px !important;
  width: 80px;
}
@media (max-width: 1199.98px) {
  .footer-btn {
    width: 100%;
  }
}
@media (max-width: 991.98px) {
  .footer-btn {
    width: 80px;
  }
}
.footer-heading {
  font-weight: 800;
  font-size: 1.8rem;
  margin-bottom: 30px;
}
@media (max-width: 991.98px) {
  .footer-heading {
    margin-bottom: 15px;
  }
}
.footer-item {
  display: block;
  padding: 8px 0;
  color: var(--footer-item-color);
}
.footer-item:hover {
  color: #0071dc;
}
.footer-contact__row {
  margin-top: 20px;
}
.footer-contact__desc {
  width: 200px;
  padding: 8px 0;
}
.footer-footer {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;
}
@media (max-width: 767.98px) {
  .footer-footer {
    flex-direction: column-reverse;
    gap: 50px;
  }
}
.footer-social__wrap, .footer-social__link {
  display: flex;
  align-items: center;
}
.footer-social__wrap {
  gap: 30px;
}
.footer-social__link {
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  transition: transform 0.2s;
}
.footer-social__link:first-child {
  background-color: #4863a9;
}
.footer-social__link:nth-child(2) {
  background-color: #000;
}
.footer-social__link:nth-child(3) {
  background-color: #4999e6;
}
.footer-social__link:nth-child(4) {
  background-color: #f00;
}
.footer-social__link:last-child {
  background-color: #2f71ab;
}
.footer-social__link:hover {
  transform: translateY(-5px);
}
.footer-social__img {
  width: 60%;
  height: 60%;
}

/*# sourceMappingURL=index.css.map */
