.nav-list, .header-action__btn, .header-action__group, .header-action, .header-inner {
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--header-bg-color);
  position: relative;
  z-index: 2;
}
@media (max-width: 991.98px) {
  .header-logo {
    column-gap: 10px;
  }
}
@media (max-width: 991.98px) {
  .header-logo-title {
    font-size: 1.8rem;
  }
}
@media (max-width: 991.98px) {
  .header-logo-img {
    width: 24px;
  }
}
.header-inner {
  position: relative;
  z-index: 1;
  justify-content: space-between;
  padding: 30px 0;
}
@media (max-width: 575.98px) {
  .header-inner {
    padding: 16px 0;
  }
}
@media (max-width: 575.98px) {
  .header {
    box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
  }
}
.header-action {
  column-gap: 20px;
}
.header-action__group {
  border-radius: 8px;
  background-color: var(--header-action-group-bg);
  box-shadow: 0px 20px 60px 10px var(--header-action-group-shadow-bg);
  min-width: 50px;
  height: 50px;
}
@media (max-width: 575.98px) {
  .header-action__group {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .header-action__group:first-child {
    display: none;
  }
}
.header-action__btn {
  padding: 13px 20px;
  column-gap: 10px;
  cursor: pointer;
}
.header-action__btn:first-child {
  padding: 13px;
}
.header-action__title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color);
}
.header-action__user {
  box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
  cursor: pointer;
}
.header-action__avatar {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
}
.header-action__skeleton {
  width: 1px;
  height: 30px;
  background-color: var(--header-action-group-skeleton-bg);
}
@media (max-width: 767.98px) {
  .header-btn__none-md {
    display: none !important;
  }
}

.header-menu {
  display: none;
}
@media (max-width: 991.98px) {
  .header-menu {
    display: block;
  }
}

@media (max-width: 991.98px) {
  .nav {
    position: fixed;
    z-index: 9;
    background-color: var(--nav-bg-color);
    inset: 0 50% 0 0;
    transform: translateX(-100%);
    transition: all 0.5s;
    border-radius: 0px 20px 20px 0px;
  }
}
@media (max-width: 575.98px) {
  .nav {
    inset: 0 20% 0 0;
  }
}
.nav-close__btn {
  display: none;
  filter: var(--nav-btn-icon-color);
}
@media (max-width: 991.98px) {
  .nav-close__btn {
    display: block;
    width: 25px;
    height: 25px;
    margin: 20px 0 20px 20px;
  }
}
.nav-btn {
  height: 44px;
  padding: 0 20px;
  align-items: center;
}
.nav-btn__title, .nav-btn__qnt {
  margin-left: 16px;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--nav-text-color);
}
.nav-btn__qnt {
  margin-left: auto;
}
.nav-btn__icon {
  filter: var(--nav-btn-icon-color);
}
@media (max-width: 991.98px) {
  .nav-list {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 40px;
    height: calc(100% - 48px);
    overflow: auto;
    overscroll-behavior: contain;
  }
}
@media (max-width: 575.98px) {
  .nav-list {
    padding: 0;
    height: calc(100% - 155px);
  }
}
.nav-items:hover .dropdrow {
  display: block;
}
@media (max-width: 991.98px) {
  .nav-items {
    width: 100%;
  }
  .nav-items--active .dropdrow {
    display: block !important;
  }
  .nav-items:hover .dropdrow {
    display: none;
  }
}
.nav-link {
  display: flex;
  padding: 25px 15px;
  column-gap: 6px;
  color: var(--nav-text-color);
  font-weight: 500;
  font-size: 1.5rem;
}
@media (max-width: 991.98px) {
  .nav-link {
    justify-content: space-between;
  }
}
@media (max-width: 575.98px) {
  .nav-link {
    padding: 15px 20px;
  }
}
.nav-arow {
  margin-top: 4px;
}
@media (max-width: 991.98px) {
  .nav-arow {
    rotate: -90deg;
    transition: rotate 0.3s;
  }
}
.nav-items--active .nav-arow {
  rotate: 0deg;
}

.overlay {
  transition: all 0.5s;
  position: fixed;
  inset: 0;
  z-index: 8;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
}

.input-check:checked ~ .nav {
  transform: translateX(0);
  box-shadow: 0px 40px 90px 20px var(--nav-shawdow-color);
}

.input-check:checked ~ .overlay {
  visibility: visible;
  opacity: 1;
}

.footer {
  background-color: var(--footer-bg-color);
}
.footer-inner {
  padding: 50px 0;
}
.footer-heading, .footer-desc, .footer-item, .footer-contact__desc, .footer-footer__desc {
  color: var(--footer-bg-heading);
}
.footer-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
}
@media (max-width: 1199.98px) {
  .footer-content {
    gap: 30px;
  }
}
@media (max-width: 991.98px) {
  .footer-content {
    grid-template-columns: 1fr;
    column-gap: 80px;
  }
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-desc, .footer-item, .footer-contact__desc, .footer-footer__desc {
  font-size: 1.4rem;
  line-height: 1.5;
}
.footer-desc {
  width: 100%;
  margin-bottom: 40px;
}
@media (max-width: 991.98px) {
  .footer-desc {
    margin-bottom: 15px;
  }
}
.footer-form {
  padding: 16px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 1199.98px) {
  .footer-form {
    flex-direction: column;
  }
}
@media (max-width: 991.98px) {
  .footer-form {
    flex-direction: row;
  }
}
.footer-input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  border: 2px solid #d2d1d6;
  font-size: 1.5rem;
  font-weight: 500;
}
@media (max-width: 991.98px) {
  .footer-input {
    width: 320px;
  }
}
@media (max-width: 575.98px) {
  .footer-input {
    width: 100%;
    font-size: 1.6rem;
  }
}
.footer-btn {
  height: 38px !important;
  width: 80px;
}
@media (max-width: 1199.98px) {
  .footer-btn {
    width: 100%;
  }
}
@media (max-width: 991.98px) {
  .footer-btn {
    width: 80px;
  }
}
.footer-heading {
  font-weight: 800;
  font-size: 1.8rem;
  margin-bottom: 30px;
}
@media (max-width: 991.98px) {
  .footer-heading {
    margin-bottom: 15px;
  }
}
.footer-item {
  display: block;
  padding: 8px 0;
  color: var(--footer-item-color);
}
.footer-item:hover {
  color: #0071dc;
}
.footer-contact__row {
  margin-top: 20px;
}
.footer-contact__desc {
  width: 200px;
  padding: 8px 0;
}
.footer-footer {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;
}
@media (max-width: 767.98px) {
  .footer-footer {
    flex-direction: column-reverse;
    gap: 50px;
  }
}
.footer-social__wrap, .footer-social__link {
  display: flex;
  align-items: center;
}
.footer-social__wrap {
  gap: 30px;
}
.footer-social__link {
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  transition: transform 0.2s;
}
.footer-social__link:first-child {
  background-color: #4863a9;
}
.footer-social__link:nth-child(2) {
  background-color: #000;
}
.footer-social__link:nth-child(3) {
  background-color: #4999e6;
}
.footer-social__link:nth-child(4) {
  background-color: #f00;
}
.footer-social__link:last-child {
  background-color: #2f71ab;
}
.footer-social__link:hover {
  transform: translateY(-5px);
}
.footer-social__img {
  width: 60%;
  height: 60%;
}

/*# sourceMappingURL=index.css.map */
